 /* warpper */
.wrapper{
	background-color: #F3F4F5;
}

/* section-intro */
.section-intro{
	text-align: center;
	margin-bottom: 40px;
}
.section-intro .title{
	font-size: 32px;
	color: #333;
	padding-bottom: 32px;
}
.section-intro .para{
	max-width: 600px;
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	color: #333;
	padding-bottom: 24px;
	margin: 0 auto;
	text-align: justify;
}

/* image-container */
.image-container{
	width: 100%;
	display: block;
}
.image-container:before{
	content: "";
	display: block;
	width: 100%;
}
.image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* header */
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

/* jumbotron */
.jumbotron .bg-fixed{
	background-position: center 60px;
}

/* water fairy */
.water_fairy{
	position: absolute;
	width: 15%;
	height: 0;
	padding-bottom: 115%;
	right: 0;

	animation: 2s water_fairy infinite linear;
}
.water_fairy .body{
	position: absolute;
	width: 100%;
	height: 0;
	padding-bottom: 115%;
	background-image: url(../images/common/Water_body.png);
	background-size: 100% auto;
	background-repeat: no-repeat;

	z-index: 2;
}
.water_fairy .wing{
	position: absolute;
	width: 100%;
	height: 300px;
}
.water_fairy .l_wing{
	position: absolute;
	width: 42%;
	height: 0;
	top: 9%;
	left: -4%;
	padding-bottom: 40%;
	background-image: url(../images/common/Water_l_wing.png);
	background-size: 100% auto;
	background-repeat: no-repeat;

	z-index: 1;
	animation: 2s water_wing_left infinite linear;
}
.water_fairy .r_wing{
	position: absolute;
	width: 50%;
	height: 0;
	top: 28%;
	right: 6%;
	padding-bottom: 25%;
	background-image: url(../images/common/Water_r_wing.png);
	background-size: 100% auto;
	background-repeat: no-repeat;

	z-index: 1;
	animation: 2s water_wing_right infinite linear;
}
@keyframes water_fairy{
	0% {
	transform: translateY(10px);
	}
	50% {
	transform: translateY(0px);
	}
	100% {
	transform: translateY(10px);
	}
}
@keyframes water_wing_left{
	0% {
	transform-origin: right bottom;
	}
	50% {
	transform-origin: right bottom;
	transform: rotate(-20deg);
	}
	100% {
	transform-origin: right bottom;
	}
}
@keyframes water_wing_right{
	0% {
	transform-origin: left center;
	transform: rotate(-20deg);
	}
	50% {
	transform-origin: left center;
	transform: rotate(0deg);
	}
	100% {
	transform-origin: left center;
	transform: rotate(-20deg);
	}
}
/* pc */
@media (max-width: 767px){
	.pc{
	display: none;
	}
}

/* mobile */
.mobile{
	display: none;
}
@media (max-width: 767px){
	.mobile{
	display: block;
	}
}

/* language-bar */
.lang-container{
	display: flex;
	justify-content: space-between;
	width: 120px;
}
.lang-container a{
	color: rgba(255, 255, 255, 0.6);
	user-select: none;
	padding: 2px 10px;

	transition: all 0.5s;
}
.lang-container a:last-child{
	padding: 2px 16px;
}
.lang-container a:hover{
	color: #fff;
	background-color: rgba(100,100,140,0.95);

	text-decoration: none;
}
.lang-container .active{
	color: #fff;
	background: rgba(100,100,140,0.95);
	user-select: none;
}
.lang-container .translate{
	background-image: url(../images/common/translate.png);
	background-position: center;
	background-repeat: no-repeat;
}

/* language-bar-fixed */
.lb-fixed{
	position: fixed;
	top: 4%;
	right: 30%;

	z-index: 2;
}
/* news */
.new .container{
	overflow: hidden;
}
.news .heading{
	font-size: 34px;
	padding-bottom: 32px;
	color: #333;
	text-align: center;
}
.news .img-container{
	width: 80%;
}
.news .img-container:before{
	background-color: #fbfbfb;
	border-radius: 8px;
}
.news .img-container .image{
	margin: 20px 24px;
	background-size: contain;
}
.news .news-line{
	cursor: pointer;
	line-height: 48px;
	border-bottom: 1px dotted #b8b8b8;
}
.news .news-line .ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news .news-line .news-para{
	font-size: 16px;
	color: #333;
	line-height: 24px;
	margin-bottom: 16px;
	height: 64px;
	text-align: justify;

	transition: all 0.3s ease;
}
@media (max-width: 767px){
	.news.hero{
		padding-bottom: 120px;
	}
	.news .news-line .news-para{
		font-size: 14px;
	}
	.news .news-line .ellipsis{
		width: 400px;
	}
}
@media (max-width: 480px){
	.news .news-line .ellipsis{
		width: 235px;
	}
}

.news .news-para:hover{
	color: #963448;
	text-decoration: none;
}
.news .news-para:active{
	color: #963448;
	text-decoration: none;
}
.news .newsbox .date{
	font-size: 12px;
	font-family: 'Nunito';
	color: #b8b8b8;
	position: absolute;
	text-align: right;

	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.news .newsbox .date:hover{
	color: #333;
}
.news .newsbox .date:active{
	color: #333;
}

/* progress-bar*/
.progressbar-container{
	padding-bottom: 80px;
}
.progressbar-container .bar{
	position: absolute;
	top: 0;
	vertical-align: center;
	background-color: #C94560;
	height: 5px;
	width: 0%;
	border-radius: 2.5px;
	z-index: 1
}
.bar-animation{
	animation: fill 1s 1 1.5s ease-out forwards;
}

@keyframes fill{
	0% {
	width: 0%;
	}
	100% {
	width: 33%;
	}
}
.point-container{
	position: relative;
	background-color: #ccc;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 5px;
	width: 100%;
}
.point{
	position: relative;
	color: #963448;
}
.point:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 120px;
	border-radius: 100%;
	transform: translate(-50%, -50%);
}
.point--complete{
	color: #963448;
}
.bullet{
	transform: translateY(-1px);
	background: #963448;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	z-index: 1;
}
.point--complete .bullet{
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 6px #963448;
}
.point--active .bullet{
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 10px #963448;
}
.point .label{
	position: absolute;
	top: 100%;
	left: 55%;
	margin-top: 20px;
	font-size: 0.75rem;
	font-weight: 600;
	white-space: nowrap;
	transform: translateX(-50%);
}
.point .label.ch0:after{
	content: "Start";
}
.point .label.ch1:after{
	content: "Chapter 1";
}
.point .label.ch2:after{
	content: "Chapter 2";
}
.point .label.ch3:after{
	content: "Chapter 3";
}
.point .label.ch4:after{
	content: "Chapter 4";
}
.point .label.ch5:after{
	content: "Chapter 5";
}
.point .label.ch6:after{
	content: "Chapter 6";
}
@media (max-width: 767px){
	.bullet{
		width: 6px;
		height: 6px;
	}
	.point--complete .bullet{
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 5px #963448;
	}
	.point--active .bullet{
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 8px #963448;
	}
	.point .label.ch0:after{
		content: "Start";
	}
	.point .label.ch1:after{
		content: "Ch 1";
	}
	.point .label.ch2:after{
		content: "Ch 2";
	}
	.point .label.ch3:after{
		content: "Ch 3";
	}
	.point .label.ch4:after{
		content: "Ch 4";
	}
	.point .label.ch5:after{
		content: "Ch 5";
	}
	.point .label.ch6:after{
		content: "Ch 6";
	}
}
/* pop */
.news .newsbtn{
	position: absolute;
	bottom: -80px;
	left: 50%;
	transform: translateX(-50%);
}
.news .newsbtn:hover{
	transform: translate(-50%,-1px);
}
.news .newsbtn:active{
	transform: translate(-50%,-1px);
}

/* jumbotron */
.jumbotron .movie-container{
	width: 60%;
	display: block;
	position: relative;
	margin: 0 auto;
}
@media (max-width: 767px){
	.jumbotron .movie-container{
		width: 100%;
	}
}
.jumbotron .movie-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
}
.jumbotron .movie-container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.jumbotron .para{
	font-weight: 300;
	max-width: 600px;
	margin: 0 auto;
	text-align: justify;
}

/* chevron */
.chevron-center{
	width: 100px;
	height: 100px;
    margin: 0 auto;

	animation: floating 1.5s ease infinite;
	cursor: pointer;
}
.chevron:before{
	content: "";
	color: #fff;
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	width: 1em;
	height: 1em;
	position: absolute;
	top: 0.15em;
	left: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
}
.chevron.bottom:before{
	top: 40px;
	transform: rotate(135deg);
}

@keyframes floating{
	0%{
		transform: translate(0,0px);
	}
	50%{
		transform: translate(0,30px);
	}
	100%{
		transform: translate(0,0px);
	}
}

/* chapter */
.index-chapter{
	overflow: hidden;
}
.index-chapter.chapter{
	padding-top: 150px;
	padding-bottom: 100px;
}
.index-chapter.chapter .bg-fixed{
	background-position: center 60px;
}
.index-chapter .heading{
	font-size: 32px;
	color: #fff;
	text-align: center;
	padding-bottom: 40px;
}
.index-chapter .slide-container{
	max-width: 575px;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 70px;
}
.index-chapter .para{
	max-width: 600px;
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	color: #fff;
	margin: 0 auto;
	text-align: justify;
}
.index-chapter .carousel-indicators{
	bottom: -60px;
}
.index-chapter .carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius: 2px;
	margin-left: 8px;
	margin-right: 8px;
	transform: rotate(45deg);

	transition: all 0.5s;
}
.index-chapter .carousel-control-next{
	opacity: 0.5;
	top:-15%;
	right: -20%;
	z-index: 3;
	transition: all 0.5s;
}
.index-chapter .carousel-control-prev{
	opacity: 0.5;
	top:-15%;
	left: -20%;
	z-index: 3;
	transition: all 0.5s;
}
@media (max-width: 991px){
	.index-chapter .carousel-control-next{
		right: 5px;
		bottom: -100%;
	}
	.index-chapter .carousel-control-prev{
		left: 5px;
		bottom: -100%;
	}
}
@media (max-width: 767px){
	.index-chapter .carousel-control-next{
		right: 5px;
		bottom: -95%;
	}
	.index-chapter .carousel-control-prev{
		left: 5px;
		bottom: -95%;
	}
}
.index-chapter .carousel-control-next:hover,
.index-chapter .carousel-control-prev:hover{
	opacity: 1;
}

/* gallery */
.index-gallery .container{
	overflow: hidden;
}
.index-gallery .intro{
	padding-top: 48px;
}
.index-gallery .heading{
	font-size: 34px;
	padding-bottom: 64px;
	color: #333;
	text-align: center;
}
.index-gallery .para{
	max-width: 600px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	color: #333;
	margin: 0 auto;
	padding-top: 16px;

	text-align: justify;
}
.index-gallery .dg-container{
	position: relative;
	width: 100%;
	height: 400px;
}
.index-gallery .dg-wrapper{
	width: 480px;
	height: 304px;
	margin: 0 auto;
	position: relative;
	transform-style: preserve-3d;
	perspective: 1000px;
}
.index-gallery .dg-wrapper a{
	width: 480px;
	height: 304px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.index-gallery .dg-wrapper a.dg-transition{
	transition: all 0.5s ease-in-out;
}
.index-gallery .dg-wrapper a img{
	display: block;
}
.index-gallery .dg-wrapper a .title{
	position: absolute;

	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -75px;
	display: none;
	text-align: center;
}
.index-gallery .dg-wrapper a.dg-center .title{
	display: block;
}
.index-gallery .dg-container nav{
	position: relative;
	bottom: -40px;
	margin: 0 auto;
	z-index: 2;
}
.index-gallery .dg-container .fa{
	position: absolute;
	font-size: 24px;
	color: #1e5799;
	cursor: pointer;
	opacity: 0.6;

	transition: all 0.5s;
}
.index-gallery .dg-container .fa:hover{
	opacity: 1;
}
.index-gallery .dg-container .fa-chevron-left{
	left: 20%;
}
.index-gallery .dg-container .fa-chevron-right{
	right: 20%;
}
@media (max-width: 767px){
	.index-gallery .dg-wrapper{
		width: 100%;
		height: 304px;
		margin: 0 auto;
		perspective: 500px;
	}
	.index-gallery .dg-wrapper a img{
		width: 100%;
	}
	.index-gallery .dg-wrapper a{
		width: 100%;
		height: 209px;
	}
	.index-gallery .dg-wrapper a .title{
		bottom: -90px;
	}
	.index-gallery .dg-container{
		height: initial;
	}
	.index-gallery .dg-container nav{
		bottom: 42px;
	}
	.index-gallery .dg-container .fa-chevron-left{
		left: 0;
	}
	.index-gallery .dg-container .fa-chevron-right{
		right: 0;
	}
}

/* customization */
.customization{
	padding-top: 150px;
	padding-bottom: 200px;

	overflow: hidden;
}
.customization .title{
	color: #fff;
}
.customization .para{
	color: #fff;
	text-align: center;
}
.customization .para.justify{
	text-align: justify;
}
.customization .slide-container{
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 80px;
}
.customization .carousel-indicators{
	bottom: -70px;
}
.customization .carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius: 2px;
	margin-left: 8px;
	margin-right: 8px;
	transform: rotate(45deg);

	transition: all 0.5s;
}
.customization .carousel-control-next{
	opacity: 0.5;
	top: -5%;
	right: -15%;
	z-index: 3;
	transition: all 0.5s;
}
.customization .carousel-control-prev{
	opacity: 0.5;
	top: -5%;
	left: -15%;
	z-index: 3;
	transition: all 0.5s;
}
.customization .carousel-control-next:hover,
.customization .carousel-control-prev:hover{
	opacity: 1;
}
@media (max-width: 991px){
	.customization .carousel-control-next{
		right: 5px;
		bottom: -90%;
	}
	.customization .carousel-control-prev{
		left: 5px;
		bottom: -90%;
	}
}
@media (max-width: 767px){
	.customization .carousel-control-next{
		right: 5px;
		bottom: -80%;
	}
	.customization .carousel-control-prev{
		left: 5px;
		bottom: -80%;
	}
}

/* posture */
.index-posture .container{
	overflow: hidden;
}
.index-posture .intro{
	padding-top: 48px;
}
.index-posture .heading{
	font-size: 34px;
	padding-bottom: 32px;
	color: #333;
	text-align: center;
}
.index-posture .para{
	max-width: 600px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	color: #333;
	margin: 0 auto;
	padding-top: 16px;
	text-align: center;
}

/* equipment */
.equipment{
	padding-top: 150px;
	padding-bottom: 200px;

	overflow: hidden;
}
.equipment .title{
	color: #fff;
}
.equipment .para{
	color: #fff;
	text-align: center;
}
.equipment .para.justify{
	text-align: justify;
}

/* character */
.index-character{
	overflow: hidden;
}
.index-character .slide-container{
	max-width: 100%;
	margin: 0 auto;
	padding-top: 80px;
}
@media (max-width: 767px){
	.index-character .slide-container{
	height: 450px;
	}
}
.index-character .carousel-indicators{
	top: -120px;
	margin: 0 auto;
	z-index: 1;
}
@media (max-width: 767px){
	.index-character .carousel-indicators{
		display: inline-block;
	}
}
.index-character .carousel-indicators li{
	float: left;
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0.5;

	transition: all 0.5s;
}
@media (max-width: 991px){
	.index-character .carousel-indicators li{
		width: 60px;
		height: 60px;
	}
}
@media (max-width: 767px){
	.index-character .carousel-indicators li{
		width: 50px;
		height: 50px;
	}
}
@media (max-width: 380px){
	.index-character .carousel-indicators li{
		width: 40px;
		height: 40px;
	}
}
.index-character .carousel-indicators li:hover,
.index-character .carousel-indicators li.active{
	opacity: 1;
}
.index-character .carousel-indicators li:nth-child(1){
	background-image: url(../images/character/avatar_gullash.jpg);
}
.index-character .carousel-indicators li:nth-child(2){
	background-image: url(../images/character/avatar_magnolia.jpg);
}
.index-character .carousel-indicators li:nth-child(3){
	background-image: url(../images/character/avatar_xingming.jpg);
}
.index-character .carousel-indicators li:nth-child(4){
	background-image: url(../images/character/avatar_oscar.jpg);
}
.index-character .carousel-indicators li:nth-child(5){
	background-image: url(../images/character/avatar_kaga.jpg);
}
.index-character .carousel-indicators li:nth-child(6){
	background-image: url(../images/character/avatar_emier.jpg);
}
.index-character .carousel-indicators li:nth-child(7){
	background-image: url(../images/character/avatar_lin.jpg);
}
.index-character .carousel-indicators li:nth-child(8){
	background-image: url(../images/character/avatar_unknown.jpg);
}
.index-character .carousel-indicators li:nth-child(9){
	background-image: url(../images/character/avatar_unknown.jpg);
}
.index-character .carousel-indicators li:nth-child(10){
	background-image: url(../images/character/avatar_unknown.jpg);
}
.index-character .carousel-indicators li:nth-child(11){
	background-image: url(../images/character/avatar_unknown.jpg);
}
.index-character .carousel-inner{
	padding-bottom: 150px;
}
@media (max-width: 767px){
	.index-character .carousel-inner{
		padding-bottom: 300px;
	}
}
.index-character .carousel-inner a{
	opacity: 0.7;
	transition: all 0.5s;
}
.index-character .carousel-inner a:hover{
	opacity: 1;
}
.index-character .fa{
	font-size: 32px;
	color: #1e5799;
}
.index-character .slide-container .carousel-control-prev{
	left: -10%;
	z-index: 3;
}
.index-character .slide-container .carousel-control-next{
	right: -10%;
	z-index: 3;
}
@media (max-width: 767px){
	.index-character .slide-container .carousel-control-prev,
	.index-character .slide-container .carousel-control-next{
		display: none;
	}
}
.index-character .carousel-caption h5,
.index-character .carousel-caption p{
	position: absolute;
	right: -100px;
	color: #333;
	font-weight: 300;
}
.index-character .carousel-caption .title{
	bottom: 380px;
	font-size: 32px;
	font-weight: 400;
	color: #7f3132;
}
.index-character .carousel-caption .subtitle{
	bottom: 340px;
	font-size: 20px;
	font-weight: 400;
}
.index-character .carousel-caption .para1{
	width: 340px;
	bottom: 160px;
	font-size: 16px;
	text-align: justify;
}
.index-character .carousel-caption .para2{
	width: 340px;
	bottom: 0;
	font-size: 16px;
	text-align: justify;
}
@media (max-width: 991px){
	.index-character .carousel-caption .title{
		bottom: 284px;
		right: -16%;
		font-size: 28px;
	}
	.index-character .carousel-caption .subtitle{
		bottom: 256px;
		right: -16%;
		font-size: 14px;
	}
	.index-character .carousel-caption .para1{
		width: 280px;
		right: -16%;
		bottom: 150px;
		font-size: 14px;
		line-height: 20px;
	}
	.index-character .carousel-caption .para2{
		width: 280px;
		right: -16%;
		bottom: 20px;
		font-size: 14px;
		line-height: 20px;
	}
}
@media (max-width: 767px){
	.index-character .carousel-caption .title{
		bottom: 50px;
		right: -10%;
		font-size: 20px;
	}
	.index-character .carousel-caption .subtitle{
		bottom: 20px;
		right: -10%;
		font-size: 14px;
	}
	.index-character .carousel-caption .para1{
		width: 425px;
		right: -16%;
		bottom: -120px;
		font-size: 14px;
		line-height: 20px;
	}
	.index-character .carousel-caption .para2{
		width: 425px;
		right: -16%;
		bottom: -200px;
		font-size: 14px;
		line-height: 20px;
	}
}
@media (max-width: 480px){
	.index-character .carousel-caption .title,
	.index-character .carousel-caption .subtitle{
		right: -12%;
	}
	.index-character .carousel-caption .para1{
		width: 320px;
		right: -10%;
		bottom: -140px;
	}
	.index-character .carousel-caption .para2{
		width: 320px;
		right: -10%;
		bottom: -240px;
	}
}
@media (max-width: 400px){
	.index-character .carousel-caption .title,
	.index-character .carousel-caption .subtitle{
		right: -18%;
	}
	.index-character .carousel-caption .para1,
	.index-character .carousel-caption .para2{
		right: -16%;
	}
}
@media (max-width: 380px){
	.index-character .carousel-caption .title,
	.index-character .carousel-caption .subtitle,
	.index-character .carousel-caption .para1,
	.index-character .carousel-caption .para2{
		right: -17%;
	}
}
@media (max-width: 320px){
	.index-character .carousel-caption .para1,
	.index-character .carousel-caption .para2{
		max-width: 280px;
	}
}

/* download */
.download .container{
	overflow: hidden;
}
.download .section-intro{
	padding-bottom: 6px;
}
.download-info .title{
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #7f3132;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.download-info .image-container{
	width: 100%;
	height: 75%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	overflow: hidden;
}
.download-info .subtitle{
	color: #32518b;
	margin-bottom: 6px;
}
.download-info .para{
	font-weight: 300;
	color: #333;
	line-height: 28px;
	padding-bottom: 10px;
	text-align: justify;
	overflow: hidden;
}
.download-info .btn{
	padding-bottom: 8px;
}
@media (max-width: 991px){
	.download-info .image-container{
		background-position: initial;
	}
}
.download-info .image-container:before{
	width: 100%;
	padding-top: 75%;
}

/* quote */
.index-quote{
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;
	text-align: center;
}
.index-quote .bg-fixed{
	background-position: center 60px;
}
.index-quote .fa{
	color: #fff;
	font-size: 48px;
	margin-bottom: 32px;
}
.index-quote .text-container{
	display: inline-block;
}
.index-quote .para{
	margin-bottom: 32px;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	line-height: 32px;
	text-align: justify;
}

/* big-word */
.big-word--right,.big-word--left{
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	text-shadow: 2px 2px 10px #aaa;
	user-select: none;
	cursor: default;
	position: absolute;
	top: -100px;
}
.big-word--right{
	right: 16px;
}
.big-word--left{
	left: 16px;
}

/* staff */
.index-staff{
	padding-top: 300px;
	padding-bottom: 100px;
	overflow: hidden;
}
.index-staff .big-word--left{
	top: -150px;
}
.index-staff .big-word--left2{
	top: 750px;
}
.index-staff .staff{
	padding: 32px;
	text-align: center;
}
.index-staff .avatar{
	margin-bottom: 16px;
	margin: 0 auto;
}
.index-staff .heading{
	margin-top: 16px;
	margin-bottom: 16px;
	white-space: nowrap;
}
.index-staff .skill{
	margin-bottom: 8px;
	white-space: nowrap;
}
.index-staff .para{
	font-weight: 300;
	margin-bottom: 16px;
	white-space: nowrap;
}
.index-staff .btn{
	padding: 0;
	width: 70%;
	margin: 0 auto;
}
@media (max-width: 991px){
	.index-staff .big-word--left2{
		top: 1480px;
	}
}
@media (max-width: 767px){
	.index-staff .big-word--left2{
		top: 1160px;
	}
	.index-staff .staff{
		padding: 12px 6px;
	}
	.index-staff .heading{
		font-size: 18px;
		margin-top: 8px;
		margin-bottom: 0;
	}
	.index-staff .skill{
		font-size: 16px;
		margin-bottom: 0;
	}
	.index-staff .para{
		margin-bottom: 8px;
	}
}

/* special thanks */
.index-staff .thanks{
	padding-top: 150px;
}
.index-staff .thanks .card{
	border: none;
	border-radius: 6px;
}
.index-staff .thanks .card-header{
	background-color: #3E64AD;
	cursor: pointer;
	transition: all 0.5s;
}
.index-staff .thanks .card-header:hover{
	background-color: #5A87D1;
}
.index-staff .thanks .card-header:active{
	background-color: #2A4475;
}
.index-staff .thanks .heading,
.index-staff .thanks .heading:hover,
.index-staff .thanks .heading:active{
	margin-top: 0;
	color: #fff;
	text-decoration: none;
}

/* contact */
.index-contact{
	text-align: center;
	background-image: url(../images/bg/bg.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.index-contact .heading{
	margin-bottom: 16px;
	color: #fff;
}
.index-contact .heading{
	margin-bottom: 32px;
}
.index-contact .para{
	font-weight: 300;
	margin-bottom: 32px;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	line-height: 32px;
}
.index-contact .form{
	max-width: 320px;
	/*margin: 0 auto;*/
	display: inline-block;
}
.index-contact .label{
	display: block;
	line-height: 42px;
	color: #fff;
}

/* justify */
.justify{
	text-align: justify;
}

/* overflow */
/*.overflow{
	overflow: hidden;
}